*.class
*.db
.DS_Store
*.scala.orig
*.log
.gitignore
.idea
.settings
.classpath
.project
MavLift/.cache
MavLift/src/main/resources/rebel.xml
MavLift/src/main/resources/props
MavLift/src/main/resources/git.properties

MavLift/src/main/webapp/WEB-INF/jetty.xml
MavLift/src/main/webapp/conf.html
mktestdb.js
