*.class
*.db
.DS_Store
*.scala.orig
*.orig
*.log
.gitignore
.idea
.settings
.classpath
.project
*.sh
.cache
src/main/resources/rebel.xml
src/main/resources/props/*
!src/main/resources/props/sample.props.template
src/test/resources/props
src/main/resources/git.properties

src/main/webapp/WEB-INF/jetty.xml
src/main/webapp/conf.html
target/
