transloadit.authkey=FILL_ME_IN
transloadit.addImageTemplate=FILL_ME_IN
api_hostname=FILL_ME_IN
obp_consumer_key=FILL_ME_IN
obp_secret_key=FILL_ME_IN
hostname=FILL_ME_IN
#default api authentication provider
defaultAuthProvider=FILL_ME_IN