.axis {
    position: relative;
    top: 30px;
    font-size: 10px;
}

line {
  stroke: black;
}

path {
    fill: none;
    stroke: green;
}

span {
    float: left;
}

h1, h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    margin-bottom:20px;
}

.svg-bar-chart text{
    font-family: sans-serif;
    font-size: .8em;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}
